<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <script src="/static/htmx.min.js"></script> -->
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" /> -->
  <link rel="stylesheet" href="/static/output.css" />
  <!-- <link rel="icon" type="image/webp" -->

  <title>{% block title %}{{page_title}}{% endblock %}</title>

<body hx-target="this"
  class="min-h-screen w-full flex flex-col items-center font-sans">
  {% include "components/navbar.html" %}
  {% block content %}
  {% endblock %}
</body>

</html>
