<!-- Cards Section -->
<div
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 p-6 bg-gradient-to-b from-[#183E19] via-[#225A2B] to-green-600">
  <!-- Card 1 -->
  <div class="p-6 rounded-md shadow-md dark:bg-white-50 text-white-900">
    <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt=""
      class="object-cover object-center w-full rounded-md h-72 dark:bg-white-500">
    <div class="mt-6 mb-2">
      <span class="block text-xs font-medium tracking-widest uppercase text-white">Quisque</span>
      <h2 class="text-xl text-white font-semibold tracking-wide">Nam maximus purus</h2>
    </div>
    <p class="text-white">Mauris et lorem at elit tristique dignissim et ullamcorper elit. In sed feugiat mi. Etiam ut
      lacinia dui.</p>
  </div>

  <!-- Card 2 -->
  <div class="p-6 rounded-md shadow-md dark:bg-white-50 text-white-900">
    <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt=""
      class="object-cover object-center w-full rounded-md h-72 dark:bg-white-500">
    <div class="mt-6 mb-2">
      <span class="block text-xs font-medium tracking-widest uppercase text-white">Quisque</span>
      <h2 class="text-xl text-white font-semibold tracking-wide">Nam maximus purus</h2>
    </div>
    <p class="text-white">Mauris et lorem at elit tristique dignissim et ullamcorper elit. In sed feugiat mi. Etiam ut
      lacinia dui.</p>
  </div>

  <!-- Card 3 -->
  <div class="p-6 rounded-md shadow-md dark:bg-white-50 text-white-900">
    <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt=""
      class="object-cover object-center w-full rounded-md h-72 dark:bg-white-500">
    <div class="mt-6 mb-2">
      <span class="block text-xs font-medium tracking-widest uppercase text-white">Quisque</span>
      <h2 class="text-xl text-white font-semibold tracking-wide">Nam maximus purus</h2>
    </div>
    <p class="text-white">Mauris et lorem at elit tristique dignissim et ullamcorper elit. In sed feugiat mi. Etiam ut
      lacinia dui.</p>
  </div>

  <!-- Card 4 -->
  <div class="p-6 rounded-md shadow-md dark:bg-white-50 text-white-900">
    <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt=""
      class="object-cover object-center w-full rounded-md h-72 dark:bg-white-500">
    <div class="mt-6 mb-2">
      <span class="block text-xs font-medium tracking-widest uppercase text-white">Quisque</span>
      <h2 class="text-xl text-white font-semibold tracking-wide">Nam maximus purus</h2>
    </div>
    <p class="text-white">Mauris et lorem at elit tristique dignissim et ullamcorper elit. In sed feugiat mi. Etiam ut
      lacinia dui.</p>
  </div>
</div>
