<div class="w-full dark:bg-white-100 text-white-800 bg-gradient-to-b from-green-600 via-[#225A2B] to-[#183E19]">
  <div class="p-4 my-6 space-y-2 text-center">
    <h2 class="text-5xl font-bold">Built to empower every team</h2>
    <p class="text-white-600">Libero minima optio qui</p>
  </div>
  <div class="w-full grid justify-center gap-4 sm:grid-cols-2 lg:grid-cols-3">
    <div class="flex flex-col items-center p-4">
      <!-- Icon und Text für Feature 1 -->
      <h3 class="my-3 text-3xl font-semibold">Feature 1</h3>
      <div class="space-y-1 leading-tight">
        <p>Similique quas ea veniam</p>
        <p>Tempore quasi porro</p>
        <p>Blanditiis aut mollitia ex</p>
      </div>
    </div>
    <div class="flex flex-col items-center p-4">
      <!-- Icon und Text für Feature 2 -->
      <h3 class="my-3 text-3xl font-semibold">Feature 2</h3>
      <div class="space-y-1 leading-tight">
        <p>Similique quas ea veniam</p>
        <p>Tempore quasi porro</p>
        <p>Blanditiis aut mollitia ex</p>
      </div>
    </div>
    <div class="flex flex-col items-center p-4">
      <!-- Icon und Text für Feature 3 -->
      <h3 class="my-3 text-3xl font-semibold">Feature 3</h3>
      <div class="space-y-1 leading-tight">
        <p>Similique quas ea veniam</p>
        <p>Tempore quasi porro</p>
        <p>Blanditiis aut mollitia ex</p>
      </div>
    </div>
    <div class="flex flex-col items-center p-4">
      <!-- Icon und Text für Feature 4 -->
      <h3 class="my-3 text-3xl font-semibold">Feature 4</h3>
      <div class="space-y-1 leading-tight">
        <p>Similique quas ea veniam</p>
        <p>Tempore quasi porro</p>
        <p>Blanditiis aut mollitia ex</p>
      </div>
    </div>
    <div class="flex flex-col items-center p-4">
      <!-- Icon und Text für Feature 5 -->
      <h3 class="my-3 text-3xl font-semibold">Feature 5</h3>
      <div class="space-y-1 leading-tight">
        <p>Similique quas ea veniam</p>
        <p>Tempore quasi porro</p>
        <p>Blanditiis aut mollitia ex</p>
      </div>
    </div>
    <div class="flex flex-col items-center p-4">
      <!-- Icon und Text für Feature 6 -->
      <h3 class="my-3 text-3xl font-semibold">Feature 6</h3>
      <div class="space-y-1 leading-tight">
        <p>Similique quas ea veniam</p>
        <p>Tempore quasi porro</p>
        <p>Blanditiis aut mollitia ex</p>
      </div>
    </div>
  </div>
