<div
  class="flex pt-12 px-6 md:px-20 items-center justify-center bg-hero md:h-screen overflow-hidden bg-gradient-to-b from-green-600 via-[#225A2B] to-[#183E19]">
  <div class="flex flex-col  gap-6 md:flex-row items-center max-w-8xl">
    <div class="w-full md:w-1/2 lg:pr-0">
      <h2 class="text-4xl lg:text-5xl text-center md:text-left font-bold leading-tight text-white">50's RECEIPTS</h2>
      <h3 class="mt-6 md:mt-10 text-md lg:text-xl text-center md:text-left tracking-wider leading-relaxed text-white">
        Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</h3>
      <div class="mt-10 flex flex-col sm:flex-row justify-center md:justify-start">
        <button
          class="w-full sm:w-40 px-4 py-3 rounded font-semibold text-md btn-primary text-white btn bg-base-300 border-none">Button
          2</button>
      </div>
    </div>
    <div class="w-full md:w-1/2 flex py-8 justify-center md:justify-end">
      <img src="/static/output.webp">
    </div>
  </div>
</div>
