<!--hero section-->
<div
  class="flex pt-12 px-6 md:px-20 items-center justify-center bg-hero md:h-screen overflow-hidden bg-gradient-to-b from-green-600 via-[#225A2B] to-[#183E19]">
  <div class="flex flex-col  gap-6 md:flex-row items-center max-w-8xl">
    <div class="w-full md:w-1/2 lg:pr-0">
      <h2 class="text-4xl lg:text-5xl text-center md:text-left font-bold leading-tight text-white">50's RECEIPTS</h2>
      <h3 class="mt-6 md:mt-10 text-md lg:text-xl text-center md:text-left tracking-wider leading-relaxed text-white">
        Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</h3>
      <div class="mt-10 flex flex-col sm:flex-row justify-center md:justify-start">
        <button
          class="w-full sm:w-40 px-4 py-3 rounded font-semibold text-md btn-primary text-white btn bg-base-300 border-none">Button
          2</button>
      </div>
    </div>
    <div class="w-full md:w-1/2 flex py-8 justify-center md:justify-end">
      <img src="/static/output.webp">
    </div>
  </div>
</div>

<!--cards/products section-->
<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 p-6 bg-gradient-to-b from-[#183E19] via-[#225A2B] to-green-600">
  <!-- Card 1 -->
  <div class="max-w-sm p-6 rounded-md shadow-md dark:bg-white-50 text-white-900">
    <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt=""
      class="object-cover object-center w-full rounded-md h-72 dark:bg-white-500">
    <div class="mt-6 mb-2">
      <span class="block text-xs font-medium tracking-widest uppercase text-white">Quisque</span>
      <h2 class="text-xl text-white font-semibold tracking-wide">Nam maximus purus</h2>
    </div>
    <p class="text-white">Mauris et lorem at elit tristique dignissim et ullamcorper elit. In sed feugiat mi.
      Etiam ut lacinia dui.</p>
  </div>

  <!-- Card 2 -->
  <div class="max-w-xs p-6 rounded-md shadow-md dark:bg-white-50 text-white-900">
    <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt=""
      class="object-cover object-center w-full rounded-md h-72 dark:bg-white-500">
    <div class="mt-6 mb-2">
      <span class="block text-xs font-medium tracking-widest uppercase text-white">Quisque</span>
      <h2 class="text-xl text-white font-semibold tracking-wide">Nam maximus purus</h2>
    </div>
    <p class="text-white">Mauris et lorem at elit tristique dignissim et ullamcorper elit. In sed feugiat mi.
      Etiam ut lacinia dui.</p>
  </div>

  <!-- Card 3 -->
  <div class="max-w-xs p-6 rounded-md shadow-md dark:bg-white-50 text-white-900">
    <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt=""
      class="object-cover object-center w-full rounded-md h-72 dark:bg-white-500">
    <div class="mt-6 mb-2">
      <span class="block text-xs font-medium tracking-widest uppercase text-white">Quisque</span>
      <h2 class="text-xl font-semibold tracking-wide text-white">Nam maximus purus</h2>
    </div>
    <p class="text-white">Mauris et lorem at elit tristique dignissim et ullamcorper elit. In sed feugiat mi.
      Etiam ut lacinia dui.</p>
  </div>

  <!-- Card 4 -->
  <div class="max-w-xs p-6 rounded-md shadow-md dark:bg-white-50 text-white-900">
    <img src="https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png" alt=""
      class="object-cover object-center w-full rounded-md h-72 dark:bg-white-500">
    <div class="mt-6 mb-2">
      <span class="block text-xs font-medium tracking-widest uppercase text-white">Quisque</span>
      <h2 class="text-xl text-white font-semibold tracking-wide">Nam maximus purus</h2>
    </div>
    <p class="text-white">Mauris et lorem at elit tristique dignissim et ullamcorper elit. In sed feugiat mi.
      Etiam ut lacinia dui.</p>
  </div>
</div>

<!-- Features Section -->
<div class="w-full dark:bg-white-100 text-white-800 bg-gradient-to-b from-green-600 via-[#225A2B] to-[#183E19]">
  <div class="p-4 my-6 space-y-2 text-center">
    <h2 class="text-5xl font-bold">Built to empower every team</h2>
    <p class="text-white-600">Libero minima optio qui</p>
  </div>
  <div class="w-full grid justify-center gap-4 sm:grid-cols-2 lg:grid-cols-3">
    <div class="flex flex-col items-center p-4">
      <!-- Icon und Text für Feature 1 -->
      <h3 class="my-3 text-3xl font-semibold">Feature 1</h3>
      <div class="space-y-1 leading-tight">
        <p>Similique quas ea veniam</p>
        <p>Tempore quasi porro</p>
        <p>Blanditiis aut mollitia ex</p>
      </div>
    </div>
    <div class="flex flex-col items-center p-4">
      <!-- Icon und Text für Feature 2 -->
      <h3 class="my-3 text-3xl font-semibold">Feature 2</h3>
      <div class="space-y-1 leading-tight">
        <p>Similique quas ea veniam</p>
        <p>Tempore quasi porro</p>
        <p>Blanditiis aut mollitia ex</p>
      </div>
    </div>
    <div class="flex flex-col items-center p-4">
      <!-- Icon und Text für Feature 3 -->
      <h3 class="my-3 text-3xl font-semibold">Feature 3</h3>
      <div class="space-y-1 leading-tight">
        <p>Similique quas ea veniam</p>
        <p>Tempore quasi porro</p>
        <p>Blanditiis aut mollitia ex</p>
      </div>
    </div>
    <div class="flex flex-col items-center p-4">
      <!-- Icon und Text für Feature 4 -->
      <h3 class="my-3 text-3xl font-semibold">Feature 4</h3>
      <div class="space-y-1 leading-tight">
        <p>Similique quas ea veniam</p>
        <p>Tempore quasi porro</p>
        <p>Blanditiis aut mollitia ex</p>
      </div>
    </div>
    <div class="flex flex-col items-center p-4">
      <!-- Icon und Text für Feature 5 -->
      <h3 class="my-3 text-3xl font-semibold">Feature 5</h3>
      <div class="space-y-1 leading-tight">
        <p>Similique quas ea veniam</p>
        <p>Tempore quasi porro</p>
        <p>Blanditiis aut mollitia ex</p>
      </div>
    </div>
    <div class="flex flex-col items-center p-4">
      <!-- Icon und Text für Feature 6 -->
      <h3 class="my-3 text-3xl font-semibold">Feature 6</h3>
      <div class="space-y-1 leading-tight">
        <p>Similique quas ea veniam</p>
        <p>Tempore quasi porro</p>
        <p>Blanditiis aut mollitia ex</p>
      </div>
    </div>
  </div>

  <!-- FAQ Section -->
  <div class="dark:bg-white-100 w-full text-white-800">
    <div class="w-full flex flex-col justify-center px-4 py-8 mx-auto md:p-8">
      <h2 class="text-2xl font-semibold sm:text-4xl">Frequently Asked Questions</h2>
      <p class="mt-4 mb-8 text-white-600">Sagittis tempor donec id vestibulum viverra. Neque condimentum primis
        orci
        at lacus amet bibendum.</p>
      <div class="space-y-4">
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:dark:ring-violet-600">Ex orci laoreet egestas
            sapien magna egestas scelerisque?</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 text-white-600">Lectus iaculis orci metus vitae ligula dictum per.
            Nisl per nullam taciti at adipiscing est.</p>
        </details>
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:dark:ring-violet-600">Lorem at arcu rutrum viverra
            metus sapien venenatis lobortis odio?</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 text-white-600">Tincidunt ut hac condimentum rhoncus phasellus
            nostra.
            Magna porttitor egestas tincidunt neque vehicula potenti.</p>
        </details>
        <details class="w-full border rounded-lg">
          <summary class="px-4 py-6 focus:outline-none focus-visible:dark:ring-violet-600">Eleifend feugiat sollicitudin
            laoreet adipiscing bibendum suscipit erat?</summary>
          <p class="px-4 py-6 pt-0 ml-4 -mt-4 text-white-600">Justo libero tellus integer tincidunt justo semper
            consequat venenatis aliquet imperdiet. Ultricies urna proin fusce nulla pretium sodales vel magna et massa
            euismod vulputate sed.</p>
        </details>
      </div>
    </div>
  </div>
</div>
