<!-- Navbar -->
<nav class="navbar bg-base-300">
  <!-- Menu for mobile -->
  <div class="w-full flex justify-between md:hidden">
    <!-- Logo -->
    <a class="btn btn-ghost text-lg">
      <img alt="Logo" src="/static/50s.jpeg" class="h-6 w-6 mask mask-circle" />
      50s Receipt
    </a>

    <div class="dropdown dropdown-end">
      <button class="btn btn-square btn-ghost custom-burger-button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          class="inline-block h-5 w-5 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>

      <ul tabindex="0" class="dropdown-content menu z-[1] bg-base-200 p-6 rounded-box shadow w-56 gap-2">
        <li><a class="btn btn-outline custom-border text-lg"
            href="https://discord.com/api/oauth2/authorize?client_id=1215618461619978250&redirect_uri=https://50receipts.com/api/callback&response_type=code&scope=identify">LOGIN</a>
        </li>
        <li><a class="btn btn-ghost custom-border text-lg" href="https://t.me/BuyReceiptsBot">PURCHASE</a></li>
        <li><a class="btn btn-ghost text-lg"><img src="/static/discord.svg" alt="Discord" class="h-6 w-6"
              href="https://50receipts.com/join"> DISCORD</a>
        </li>
        <li><a class="btn btn-ghost text-lg"><img src="/static/telegram.svg" alt="Telegram" class="h-6 w-6"
              href="https://50receipts.com/telegram">
            TELEGRAM</a></li>
      </ul>
    </div>
  </div>

  <!-- Menu for desktop -->
  <div class="w-full hidden md:grid grid-cols-5 gap-2 items-center">
    <!-- Left menu with Purchase button -->
    <div class="flex justify-start">
      <a class="btn btn-ghost custom-border text-lg">
        PURCHASE
      </a>
    </div>

    <!-- Left of logo with Discord button -->
    <div class="flex justify-end">
      <a class="btn btn-ghost text-lg">
        <img src="/static/discord.svg" alt="Discord" class="h-8 w-8">
        DISCORD
      </a>
    </div>

    <!-- Centered logo -->
    <div class="flex justify-center font-roboto">
      <a class="btn btn-ghost text-lg">
        <img alt="Logo" src="/static/50s.jpeg" class="h-8 w-8 rounded-full fon" />
        50's RECEIPT
      </a>
    </div>

    <!-- Right of logo with Telegram button -->
    <div class="flex justify-start">
      <a class="btn btn-ghost text-lg">
        <img src="/static/telegram.svg" alt="Telegram" class="h-8 w-8">
        TELEGRAM
      </a>
    </div>

    <!-- Rightmost menu with Login button -->
    <div class="flex justify-end">
      <a class="btn btn-outline custom-border text-lg">
        LOGIN
      </a>
    </div>
  </div>
</nav>

<style>
</style>
